@import url("https://fonts.googleapis.com/css2?family=Slackey&display=swap");

* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "Slackey", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 1px 1px rgba(223, 221, 221, 0.603);
}

.title {
  font-size: 22px;
}
